@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Special+Elite&display=swap');
.top {
position: absolute;
    top: 0;
    width: 100%;
}
.dropbtn {
  position: relative;
  background: #313445;
  color: #D8D1C0;
  font-size: 48px;
  border: none;
  font-family: 'Mate SC', serif;
  text-align: center;
  padding-left: 40px;
  
}
.dropdown {
  position: absolute;
  display: inline-block;
  background: white;
  opacity: 0.9;
}

.dropdown-content {
  
  font-weight: bold;
  display: none;
  position: absolute;
  min-width: 370px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

.dropdown-content a {
border-bottom: 1px solid white;
  color: white;
padding-top: 30px;
padding-bottom: 30px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.center {
  position: relative;
  color: #D8D1C0;
  font-size: 35px;
  border: none;
  font-family: 'Mate SC', serif;
  text-align: left;
  padding-left: 40px;
}

#contents1:hover {background-color: #ddd;}
#contents2:hover {background-color: #ddd;}
#contents3:hover {background-color: #ddd;}
#contents4:hover {background-color: #ddd;}
#contents5:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #5C2419;}

header h1{ 
			text-align: center; 
			line-height: 80px;
		}
		.container{
			position: absolute;
			width: 100%; height: 100%;
			margin: 0px auto;
			transform-style: preserve-3d;
			perspective: 800px;
			overflow: hidden;
			box-sizing: border-box;
		}
		.wrapper{
			width: 100%; height: 100%;
			position: relative;
			margin: auto;
			transform-style: preserve-3d;
			transition-duration: 1s;
		}
		.wrapper > .page{ 
			position: relative;
			width: 100%; height: 100%;
			position: absolute;
			left: 0; top: 0;
			backface-visibility: hidden;
			padding-top: 80px;
		}
		.page > h1{ 
			padding: 20px; 
			color: white;
		}
		.wrapper > .page:nth-child(1){
		  position: absolute;
			background: white;
			background-image: url('../image/main.jpg');
			background-size: cover;
		}

.homepageAlbumImage{
position: relative;
display:block;
width:100%;
}

body {
    font: 17px 'Nanum Gothic', sans-serif;
}

a {
    text-decoration: none;
    color: #404040;
}

li {
    list-style: none;
}

/*BODY*/

/*ÆË¾÷Ã¢*/
#popup1 {
    display: none; /*¼û±â±â*/
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#popup2 {
    display: none; /*¼û±â±â*/
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#popup3 {
    display: none; /*¼û±â±â*/
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#popup4 {
    display: none; /*¼û±â±â*/
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#popup5 {
    display: none; /*¼û±â±â*/
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#popmenu1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 370px;
    background: #FCFFF1;
    opacity: 0.9;
    }
#popmenu2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 445px;
    text-align: center;
    background: #FCFFF1;
    opacity: 0.9;
    }
#popmenu3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 370px;
    text-align: center;
    background: #FCFFF1;
    opacity: 0.9;
    }
#popmenu4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 450px;
    text-align: center;
    background: #FCFFF1;
    opacity: 0.9;
    }
    #popmenu5 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 450px;
    background: #FCFFF1;
    opacity: 0.9;
    }
#popmenu p {
    margin-top: 80px;
}

.exit1 {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%,0);
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #007AAE;
    cursor: pointer;
}
.exit2 {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%,0);
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #007AAE;
    cursor: pointer;
}
.exit3 {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%,0);
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #007AAE;
    cursor: pointer;
}
.exit4 {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%,0);
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #007AAE;
    cursor: pointer;
}
.exit5 {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%,0);
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #007AAE;
    cursor: pointer;
}

/*º»¹®³»¿ë*/
#contents1 {
border-bottom: 1px solid white;
  color: white;
padding-top: 30px;
padding-bottom: 30px;
  text-decoration: none;
  display: block;
  text-align: center;
}
#contents2 {
border-bottom: 1px solid white;
  color: white;
padding-top: 30px;
padding-bottom: 30px;
  text-decoration: none;
  display: block;
  text-align: center;
}
#contents3 {
border-bottom: 1px solid white;
  color: white;
padding-top: 30px;
padding-bottom: 30px;
  text-decoration: none;
  display: block;
  text-align: center;
}
#contents4 {
border-bottom: 1px solid white;
  color: white;
padding-top: 30px;
padding-bottom: 30px;
  text-decoration: none;
  display: block;
  text-align: center;
}
#contents5 {
border-bottom: 1px solid white;
  color: white;
padding-top: 30px;
padding-bottom: 30px;
  text-decoration: none;
  display: block;
  text-align: center;
}